.sub_head{
    padding-top: 20px;
    font-size: x-large;
    padding-left: 20px;
  }
  .home
  { font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 25px;
    padding-left: 30px;
    font-size:medium;
  }