<div class="home ">
    <h1 class="sub_head"><strong>Salient Features of Nipsol</strong></h1>
    <br>
    <ol type="1">
      <li>It offers Platform Independent application for all restaurant food odering needs.</li>
      <li>A nipsol certified restaurant is marked as safe to dine by most customers accross India.</li>
      <li>Nipsol Payment System can be Integrated at 0% charges.</li>
      <li>With QR-Based Ordering and e-Invoice functionality, human intervention is reduced considerably making it
        a contacless alternative to conventional orderign mechanisms.</li>
      <li>Currently Nipsol has marked its presence in over 50 restaurants/Cafes accross 50 cities within a span of
        8 weeks since its launch.</li>
    </ol>
  </div>
